
<aside id="left-panel" class="left-panel text-light" style="background: rgb(49, 45, 45); color:white !important;"  >
    <nav class="navbar  navbar-expand-sm navbar-default" style="background:rgb(49, 45, 45); color:white !important;">

        <div id="main-menu" class="main-menu text-light text-light collapse navbar-collapse" >
            <ul class="nav navbar-nav">
                
                <li >
                    <a style="color: white !important;" href="/" aria-haspopup="true" aria-expanded="false"><i class="fa fa-home mr-4"></i>Dashboard </a>
                </li>
                
                
                <li >
                    <a style="color: white !important;" href="/tasks" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-tasks mr-4"></i> Tasks </a>
                
                </li>
                
                <li style="color: rgb(137, 240, 226) !important;"  class="menu-title">OPERATIONS</li>
                <li class="menu-item-has-children dropdown">
                        <a href="#" style="color: white !important;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-cogs mr-4"></i>Manage Customers</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li> <i class="fa fa-plus"></i> <a href="/addcustomer">Add Customer</a> </li>
                            <li> <i class="fa fa-list-ol"></i> <a href="/customers">View Customers</a> </li>
                        </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                        <a href="#" style="color: white !important;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-cogs mr-4"></i>Manage Orders</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li> <i class="fa fa-list-ol"></i> <a href="/orders">View Orders</a> </li>
                        </ul>
                </li>
                
                <!-- <i class="far fa-chart-bar"></i> -->
            
                <li class="menu-item-has-children dropdown">
                    <a href="#" style="color: white !important;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-cogs mr-4"></i>Manage Users</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li> <i class="fa fa-plus"></i> <a href="/adduser">Add New User</a> </li>
                        <li> <i class="fa fa-list-ol"></i> <a href="/userroles">View Users</a> </li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" style="color: white !important;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-cogs mr-4"></i>Manage Company Items</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li> <i class="fa fa-plus"></i> <a href="/additem">Add New Item</a> </li>
                        <li> <i class="fa fa-list-ol"></i> <a href="/viewitems">View Items</a> </li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" style="color: white !important;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-cogs mr-4"></i>Financial Management</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li> <i class="fa fa-plus"></i> <a href="/income">Add Income</a> </li>
                        <li> <i class="fa fa-plus"></i> <a href="/expenditure">Add Expense</a> </li>
                        <li> <i class="fa fa-list-ol"></i> <a href="/payments">View Payment</a> </li>
                        <li> <i class="fa fa-list-ol"></i> <a href="/home">Reports</a> </li>
                    </ul>
                </li>
                
                <li class="menu-item">
                    <a style="color: white !important;" href="/email/history"  aria-haspopup="true" aria-expanded="false"><i class="fa fa-envelope mr-4"></i>Email History</a>
                </li>
                
            </ul>
        </div>
    </nav>
</aside>


