<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-monospace">
    <a class="navbar-brand" href="/">Main Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item active">
                <a class="nav-link text-success" href="/home">Home</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link text-success" href="/expenditure">Expenditure</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link text-success" href="/income">Income</a>
            </li>

            <!-- <li class="nav-item active">
                <a class="nav-link text-warning" href="/">Main Dashboard</a>
            </li> -->

           
            <!-- {% if role == 'admin' %}
            <li class="nav-item active">
                <a class="btn btn-sm btn-outline-success rounded-pill" href="/users">Users</a>
            </li>
            {% endif %} -->

            
        </ul> 
    </div>

    
    
</nav>