{% extends 'base.html' %}
{% block title %}BizWeb{% endblock %}
{% block links %}

<style>
   form{
       width: 50%;
   } 
   input[type=text]{
    outline: none !important;
    box-shadow: none !important;
    border-radius: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       
   }
   select{
       border-radius: 12px;
   }
   input[type=email],select{
    outline: none !important;
    box-shadow: none !important;
    border-radius: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   label{
       font-family: 'Times New Roman', Times, serif;
   }
   .btn-update{
       border-radius: 18px;
       font-family: 'Times New Roman', Times, serif;
       
   }
</style>

{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-center">
                <h4>ADD NEW COMPANY ITEM</h4>
            </div>
            <div class="card-body" style="background:rgb(248, 246, 246);">
                <div class="container">
                    <div class="d-flex justify-content-center">
                        {% include 'includes/_alert.html' %}
                        <form action="/additem" method="POST" >
                            <div class="form-group">
                                <label for="fullname">Title</label>
                                <input type="text" name="title" class="form-control" placeholder="" required autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <input type="text" name="description" class="form-control" placeholder="" required autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="">Unit cost</label>
                                <input type="text" name="unit_cost" class="form-control" placeholder="" required autocomplete="off">
                            </div>
                            <div class="form-group">
                                
                                <input type="hidden" name="user_id" value="{{ user_id }}" required autocomplete="off">
                            </div>
                            
                            <div class="form-group">
                                <input type="hidden" name="company_id" value="{{ cid }}">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-update btn-md btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}{% endblock %}