{% extends 'base.html' %}
{% block title %}BizWeb{% endblock %}
{% block links %}

<style>
   form{
       width: 50%;
   } 
   input[type=text]{
    outline: none !important;
    box-shadow: none !important;
    border-radius: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       
   }
   select{
       border-radius: 12px;
   }
   input[type=email],select{
    outline: none !important;
    box-shadow: none !important;
    border-radius: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   label{
       font-family: 'Times New Roman', Times, serif;
   }
   .btn-update{
       border-radius: 18px;
       font-family: 'Times New Roman', Times, serif;
       
   }
</style>

{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-center">
                <h4>REGISTER NEW USER</h4>
            </div>
            <div class="card-body" style="background:rgb(248, 246, 246);">
                <div class="container">
                    <div class="d-flex justify-content-center">
                        {% include 'includes/_alert.html' %}
                        <form action="/userroles" method="POST">        
                            <div class="form-group">
                                <label for="">Full Name</label>
                                <input name="fname" type="text" placeholder="" class="form-control" required autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="">Email Address</label>
                                <input name="email" type="text" placeholder="" class="form-control" required autocomplete="off">
                            </div>
                            
                            <div class="form-group">
                                <input type="hidden" name="company_id" value="{{ company_id }}">
                            </div>
                            
                            <div class="form-group">
                                <button type="submit" class="btn btn-update btn-success">Submit</button>
                            </div>
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}{% endblock %}