{% extends 'base.html' %}

{% block title %}Orders{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-center">
                <h4>All ORDERS</h4>
            </div>
            <div class="card-body" style="background:rgb(248, 246, 246);">
                <table class="text-monospace" id="example" class="table ">
                    <thead class="thead-light">
                        <tr>
                            <th>ORDER ID</th>
                            <th>ORDER TITLE </th>
                            <th>ORDER DATE</th>
                            <th>ORDER STATUS</th>
                            <th>PAYMENT STATUS</th>
                            <th>MANAGE ORDER</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% set count = -1 %}

                        {% for order in orders %}
                            
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ order.title }}</td>
                                <td>{{ order.order_date.strftime("%d-%m-%Y, %H:%M:%S") }}</td> 
                                {% if order.order_status == 0 %}
                                <td><p class="text-warning text-monospace lead">Booking</p></td>
                                {% else %}
                                <td><p class="text-success text-monospace lead">Order</p></td>
                                {% endif %}
                                <td>
                                    
                                   {% set c = loop.index -1 %}
                            
                                   {% if totalPaid[c] == 0 %}
                                    <p class="text-danger">Not Paid</p>
                                    {% elif totalPaid[c] >= itemstotal[c]  %}
                                    <p class="text-success">Fully Paid</p>
                                   {% else %}
                                   <p class="text-warning">Partially Paid</p>
                                   {% endif %}
                                   
                                </td>
                                <td>
                                    <a href="/order/{{ order.id }}/management" class="btn btn-sm btn-success">Manage Order</a>
                                </td> 
                                
                            </tr>

                            

                        {% endfor %}
                            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>


<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        } );
    } );
</script>

{% endblock %}