<!doctype html>
<html class="no-js" lang=""> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BizWeb</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/brands.min.css">

    
    
    <link rel="stylesheet" href=" https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.0/css/buttons.dataTables.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    
    
    {% block links %}{% endblock %}

</head>
<body>
    <!-- Left Panel -->
    <!-- The sidebar -->
    {% include 'includes/_navbar.html' %}


   

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel" >
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    
                    <a class="navbar-brand" href="">{{ companyName }}</a>
                    <!-- <a class="navbar-brand" href="./"><img src="/static/images/logo.png" alt="Logo"></a> -->
                    <!-- <a class="navbar-brand hidden" href="./"><img src="/static/images/logo2.png" alt="Logo"></a> -->
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <!-- <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>                        
                    </div> -->

                    <div class="user-area dropdown float-right mr-3">
                        <!-- <p class="text-monospace text-success">Logged in as {{ user }}</p> -->
                        <a href="#" class="dropdown-toggle active text-warning" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user }}
                        </a>

                        <!-- <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="/static/images/admin.jpg" alt="User Avatar"> 
                        </a> -->
                        
                    </div>

                    <div class="user-area dropdown float-right">
                        <form action="/logout" method="POST">
                                <button data-toggle="modal" data-target="#logout" class="btn btn-sm btn-outline-danger" aria-haspopup="true" aria-expanded="false">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        
        {% block breadcrumbs %}{% endblock %}

        
        <!--The content  -->
        <div class="content">
             {% block content %}{% endblock %}     
        </div>

        <div class="clearfix"></div>

    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="/static/assets/js/main.js"></script>


    {% block scripts %}{% endblock %}

    </body>
    </html>
