{% extends 'base.html' %}

<!-- header title -->
{% block title %}BizWeb{% endblock %}

<!-- breadcrumbs -->
{% block breadcrumbs %}

<div class="container d-flex justify-content-center">
    

</div>
<br>


{% endblock %}


<!-- content inside the body -->
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-center">
                <h4>REGISTERED CUSTOMERS </h4>
            </div>
            <div class="card-body" style="background:rgb(248, 246, 246);">
                <div class="d-flex justify-content-center">
                    {% include 'includes/_alert.html' %}
                </div>
                <table id="example" class="table ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>FULL NAME</th>
                            <th>EMAIL ADDRESS</th>
                            <th>PHONE NUMBER</th>
                            <th>GENDER</th>
                            <th>MANAGE</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody class="text-monospace">
                        {% for customer in all %}
                            <tr>
                                <td>{{ customer.id }}</td>
                                <td>{{ customer.full_name }}</td>
                                <td>{{ customer.email }}</td>
                                <td>{{ customer.phone_number }}</td>
                                <td>{{ customer.gender }}</td>
                                <td><a class=" text-monospace btn btn-sm btn-dark" href="/manage/{{ customer.id }}/customer">manage orders</a></td>
                                <td>
                                    <button data-toggle="modal" data-target="#editRecords{{ customer.id }}" class="btn btn-md btn-primary"><i class="fa fa-edit"></i></button>

                                    <div class="modal" id="editRecords{{ customer.id }}" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title">Edit {{ customer.full_name }} details </h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              
                                                <form action="/customer/{{ customer.id }}/edit" method="POST" >
                                                    <div class="form-group">
                                                        <label for="fullname">Full Name</label>
                                                        <input autocomplete="off" type="text" name="fullname" value="{{ customer.full_name }}" class="form-control" placeholder="" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Email Address</label>
                                                        <input autocomplete="off" type="email" name="email" value="{{ customer.email }}" class="form-control" placeholder="" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="phone">Phone Number</label>
                                                        <input autocomplete="off" type="text" name="phonenumber" value="{{ customer.phone_number }}" class="form-control" placeholder="" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="gender">Gender</label>
                                                        <select name="gender" class="form-control" required>
                                                            <option></option>
                                                            <option value="{{ customer.gender }}" selected>{{ customer.gender }}</option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="hidden" name="company_id" value="{{ cid }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-md btn-success">Update Record</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>
                                        </div>
                                    </div>

                                </td>
                                <!-- <td>
                                    <button  data-toggle="modal" data-target="#deleteRecord{{ customer.id }}"  class="btn btn-md btn-danger"><i class="fa fa-trash"></i></button>

                                    <div class="modal" id="deleteRecord{{ customer.id }}" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title">Delete</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              <p class="text-dark text-monospace">Are you sure want to delete {{ customer.full_name }} record ?</p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                              <form action="/customer/{{ customer.id }}/delete" method="POST">
                                                <button type="submit" class="btn btn-success">Confirm</button>
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                                    </div>

                                </td> -->
                            </tr>
                        {% endfor %}
                            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- optional scripts tags -->
{% block scripts %}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>


<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        } );
    } );
</script>

{% endblock %}