{% extends 'base.html' %}

<!-- title -->
{% block title %}BizWeb{% endblock %}

<!-- breadcrumbs -->
{% block breadcrumbs %}

<div class="container d-flex justify-content-center">
    <button class="mt-4 btn btn-sm btn-success" data-toggle="modal" data-target="#placeOrder">Place a Booking For {{ name }}</button>
    <!-- customer registration modal -->
    <div id="placeOrder" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Place a Booking for {{ name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form action="" method="POST" >
                    <div class="form-group">
                        <label for="fullname">Title</label>
                        <input type="text" name="title" class="form-control" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="Textarea1">Order Description</label>
                        <textarea name="description" class="form-control" id="Textarea1" rows="4" required></textarea>
                    </div>
                    <div class="form-group">
                        <input name="customer_id" value="{{ custo_id }}" type="hidden">
                    </div>
                    <div class="form-group">
                        <input name="company_id" value="{{ company_id }}" type="hidden">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-md btn-success">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

</div>
<br>

{% include 'includes/_alert.html' %}

{% endblock %}

<!-- content -->
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-center">
                <h4>{{ name.upper() }}'s BOOKING(s) and ORDER(s)</h4>
            </div>
            <div class="card-body">
                <table id="example" class="table ">
                    <thead>
                        <tr>
                            <th>ORDER ID</th>
                            <th>ORDER TITLE</th>
                            <th>ORDER DATE</th>
                            <th>ORDER DETAILS</th>
                            <th>ORDER STATUS</th>
                            <th>DELIVERY STATUS</th>
                            <th>MANAGE ORDER</th>
                            <th>EDIT</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ order.title }}</td>
                                <td>{{ order.order_date.strftime("%d-%m-%Y, %H:%M:%S") }}</td>
                                <td>
                                    <a data-toggle="modal" data-target="#details{{ order.id }}" class="text-monospace btn btn-sm btn-info" href="#">View Details</a>

                                    <div id="details{{ order.id }}" class="modal" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">ORDER ID:{{ order.id }}</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5><u>Order Description</u></h5><br>
                                                    <p>{{ order.description }}</p>
                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                {% if order.order_status == 0 %}
                                    <td><p class="text-warning">Booking</p></td>
                                {% else %}
                                    <td><p class="text-success">Order</p></td>
                                {% endif %}

                                {% if order.delivery_status == 0 %}
                                    <td><p class="text-danger">Not delivered</p></td>
                                {% elif order.delivery_status == 1 %}
                                    <td><p class="text-warning">In transit</p></td>
                                {% else  %}
                                    <td><p class="text-success">Delivered</p></td>
                                {% endif %}

                                <td><a class="text-monospace btn btn-sm btn-dark" href="/order/{{ order.id  }}/management">manage order</a></td>
                                <!-- edit an order -->
                                <td>
                                    <button data-toggle="modal" data-target="#editorder{{ order.id }}" class="btn btn-md btn-primary"><i class="fa fa-edit"></i></button>

                                    <div id="editorder{{ order.id }}" class="modal" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title">Edit records for order id {{ order.id }}</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              

                                                <form action="/customer/{{ custo_id }}/order/{{ order.id }}/edit" method="POST" >
                                                    <div class="form-group">
                                                        <label for="fullname">Title</label>
                                                        <input autocomplete="off" value="{{ order.title }}" type="text" name="title" class="form-control" placeholder="" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Textarea1">Order Description</label>
                                                        <textarea name="description" class="form-control" id="Textarea1" rows="4" required>{{ order.description }}</textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <input name="customer_id" value="{{ custo_id }}" type="hidden">
                                                    </div>
                                                    <div class="form-group">
                                                        <input name="company_id" value="{{ company_id }}" type="hidden">
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-md btn-success">Update record</button>
                                                    </div>
                                                </form>
                                


                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                </td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- scripts -->
{% block scripts %}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>


<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        } );
    } );
</script>

{% endblock %}