{% extends 'base.html' %}

<!-- title -->
{% block title %}BizWeb{% endblock %}

{% block links %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

    <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css' />
    <!-- <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" /> -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" rel="stylesheet" />

    <style>
            #weatherWidget .currentDesc {
                color: #ffffff!important;
            }
                .traffic-chart {
                    min-height: 335px;
                }
                #flotPie1  {
                    height: 150px;
                }
                #flotPie1 td {
                    padding:3px;
                }
                #flotPie1 table {
                    top: 20px!important;
                    right: -10px!important;
                }
                .chart-container {
                    display: table;
                    min-width: 270px ;
                    text-align: left;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                #flotLine5  {
                     height: 105px;
                }
        
                #flotBarChart {
                    height: 150px;
                }
                #cellPaiChart{
                    height: 160px;
                }
        
        </style>

{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}


<!-- Animated -->
<div class="animated fadeIn">
        <!-- Widgets  -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <!-- <i class="pe-7s-cash"></i> -->
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">{{ tc }}</span></div>
                                    <div class="stat-heading">Customers</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-2">
                                <!-- <i class="pe-7s-cart"></i> -->
                                <i class="fa fa-thumbs-down"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">{{ p0 }}</span></div>
                                    <div class="stat-heading">Pending Orders</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-3">
                                <!-- <i class="pe-7s-browser"></i> -->
                                <i class="fa fa-tasks mr-4"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">{{ incomplete_tasks }}</span></div>
                                    <div class="stat-heading">Tasks</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-4">
                                <i class="fa fa-shopping-basket"></i> 
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">{{ to }}</span></div>
                                    <div class="stat-heading">Total Orders</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Widgets -->
        <!--  Traffic  -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title text-danger"></h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card-body d-flex-justify-content-center">
                                
                                <div class="d-flex justify-content-center">
                                    <canvas id="bar-chart" width="1000" height="450"></canvas>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card-body">
                                <div class="progress-box progress-1">
                                    <h4 class="por-title">Delivered</h4>
                                    <div class="por-txt">{{ do }} Orders ({{pdo}}%)</div>
                                    <div class="progress mb-2" style="height: 5px;">
                                        <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: {{pdo}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress-box progress-2">
                                    <h4 class="por-title">Fully Paid</h4>
                                    <div class="por-txt">{{fully_paid}} Orders ({{pfpo}}%)</div>
                                    <div class="progress mb-2" style="height: 5px;">
                                        <div class="progress-bar bg-flat-color-2" role="progressbar" style="width: {{pfpo}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress-box progress-2">
                                    <h4 class="por-title">Partially Paid</h4>
                                    <div class="por-txt">{{ partially_paid }} Orders ({{pppo}}%)</div>
                                    <div class="progress mb-2" style="height: 5px;">
                                        <div class="progress-bar bg-flat-color-3" role="progressbar" style="width: {{pppo}}%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress-box progress-2">
                                    <h4 class="por-title">Not Paid</h4>
                                    <div class="por-txt">{{ notpaid }} Orders ({{pnpo}}%)</div>
                                    <div class="progress mb-2" style="height: 5px;">
                                        <div class="progress-bar bg-flat-color-4" role="progressbar" style="width: {{pnpo}}%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div> <!-- /.card-body -->
                        </div>
                        
                    </div> 
                    <div class="card-body"></div>
                </div>
            </div>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="orders">
            <div class="row">
                <div class="col-xl-8">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title text-danger">  </h4>
                        </div>
                        <div class="card-body--">
                            <div class="calender-cont widget-calender">
                                <!-- <div id="calendar"></div> -->
                            </div>
                        </div>
                    </div> 
                </div> 
                
                <div class="col-xl-4">
                    <div class="row">

                        <div class="col-lg-6 col-xl-12">
                            <div class="card br-0">
                                <div class="card-body">
                                    <div class="chart-container ov-h">
                                        <canvas id="pie-chart" width="800" height="450"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-xl-12">
                            <div class="card">
                                 <div class="card-body">
                                    <canvas id="doughnut-chart" width="800" height="450"></canvas>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div> 

            </div>
        </div> 
        
        

        <!-- <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title box-title">Coming soon!</h4>
                        <div class="card-content">
                            
                        </div>
                    </div> 
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title box-title">Coming soon!</h4>
                        <div class="card-content">
                            
                        </div>
                    </div> 
                </div>
            </div> -->

        </div>
        
        
        
        
    </div>


{% endblock %}

<!-- scripts -->
{% block scripts %}

<!--  Chart js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>
<!--Chartist Chart-->
<script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>



<script type="text/javascript">
    // Bar chart
    let dates = {{ dates|safe }}
    let totalOrders = {{ totalO |safe }}    

    //["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"]

    new Chart(document.getElementById("bar-chart"), {

        type: 'bar',
        data: {
        labels: dates,
        datasets: [
            {
            label: "Orders",
            backgroundColor:"#3e95cd",
            data: totalOrders //[2478,5267,734,784,433]
            
            }
        ]
        },
        options: {
        legend: { display: false },
        title: {
            display: true,
            text: 'Total order made per day'
        },scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
        }
    });
</script>

<script type="text/javascript">
    bookings = {{ bookings |safe }};
    all_orders = {{ all_orders |safe }};

    new Chart(document.getElementById("pie-chart"), {
        type: 'pie',
        data: {
          labels: ["Bookings", "Orders"],
          datasets: [{
            label: "Orders",
            backgroundColor: ["#3e95cd", "#8e5ea2"],
            data: [bookings,all_orders]
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Total bookings made vs Total orders made'
          }
        }
    });

</script>

<script type="text/javascript">
    
    let np = {{ notpaid |safe  }};
    let pp = {{ partially_paid |safe  }};
    let fp = {{ fully_paid |safe  }};
    


    new Chart(document.getElementById("doughnut-chart"), {
        type: 'doughnut',
        data: {
          labels: ["Not Paid", "Partially Paid", "Fully Paid"],
          datasets: [
            {
              label: "Population (millions)",
              backgroundColor: ["#3e95cd","#e8c3b9","#c45850"],
              data: [np,pp,fp]
            }
          ]
        },
        options: {
          title: {
            display: true,
            text: 'Order payments summary'
          }
        }
    });

</script>


{% endblock %}