{% extends 'base.html' %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>All Emails </h4>
            </div>
            <div class="card-body" style="background:rgb(248, 246, 246);">
                <table id="example" class="table ">
                    <thead>
                        <tr>
                            <th>Email ID</th>
                            <th>Sent By </th>
                            <th>Recipient</th>
                            <th>Subject</th>
                            <th>Sent On</th>
                            <!-- <th>Order ID</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for email in emails %}
                            <tr>
                                <td>{{ email.id }}</td>
                                <td>{{ email.user }}</td>
                                <td>{{ email.customer }}</td>
                                <td>{{ email.subject }}</td>
                                <td>{{ email.created_on }}</td>    
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %} 

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>


<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        } );
    } );
</script>

{% endblock %}