{% extends 'base2.html' %}

{% block title %}BizWeb{% endblock %}

{% block links %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- data table -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.0/css/buttons.dataTables.min.css">

    
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    
{% endblock %}

{% block content %} 

    <div class="container-fluid">
        <div class="row">
            <div class="col mt-3">

                <div class="d-flex justify-content-center">
                    {% include 'includes/_alert.html' %}
                </div>

                <div class="container d-flex justify-content-center">
                    <!-- <button type="button" data-toggle="modal" data-target="#expenditureCategoryModal" class="btn btn-md btn-warning mr-4">Manage Exp. Category</button> -->
                    <button type="button" data-toggle="modal" data-target="#expenditureModal" class="btn btn-md btn-danger">Manage Expenditure</button>
                    


                    <!-- expenditure category modal -->
                    <div id="expenditureCategoryModal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <form action="/expenditure/category" method="POST">
                                    
                                    <div class="form-group">
                                        <label for="title">Expenditure Category</label>
                                        <input name="category" type="text" placeholder="Rent" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <input type="hidden" name="company_id" value="{{ company_id }}">
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                  
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>

                    <!-- expenditure modal -->
                    <div id="expenditureModal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Manage Expenditure</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <!-- tabbed nav -->
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Add New Expenditure</a>
                                        </div>
                                    </nav>
                                    <br>

                                    <div id="app">

                                        <div class="tab-content" id="nav-tabContent">
                                            
        
                                            <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                                                <!-- @submit.prevent="submitExpense"  -->
                                                <form action="/expenditure" method="POST">
                                                    
                                                    <div class="form-group">
                                                        <label >Select category</label>
                                                        <select name="category" class="js-example-basic-single form-control" required>
                                                            <option></option>
                                                            {% for category in categories %}
                                                                <option value="{{ category }}">{{ category }}</option>
                                                            {% endfor %}
                                                        
                                                        </select>
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="title">Expense title</label>
                                                        <input name="expensetitle"  type="text" placeholder="Expense name" class="form-control" required>
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="amount">Amount</label>
                                                        <input name="amount" type="text" placeholder="KES" class="form-control" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="hidden" name="company_id" value="{{ company_id }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-success">Submit</button>
                                                    </div>
                                                </form>
                                            </div> 

                                        </div>

                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            
                <div class=" mt-3">
                    <table id="example" class="table table-striped display nowrap">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Category</th>
                                <th scope="col">Title</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Date</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            {% for expenditure in expenditures %}
                                
                                <tr>
                                    <th scope="row">{{ expenditure.id }}</th>
                                    <td>{{ expenditure.category }}</td>
                                    <td>{{ expenditure.title }}</td>
                                    <td>{{ expenditure.amount }}</td>
                                    <td>{{ expenditure.created_on }}</td>
                                    <!-- <td>
                                        <button class="btn btn-sm btn-warning">Edit</button>
                                    </td> -->
                                </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>

    <script type="text/javascript">
            $(document).ready(function() {
                $('#example').DataTable( {
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                } );
            } );
    </script>

    <script>
            $(document).ready(function() {
                $('.js-example-basic-single').select2();
            });
    </script>
   
        

{% endblock %}