{% extends 'base2.html' %}

{% block title %}BizWeb{% endblock %}


{% block links %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- data table -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.0/css/buttons.dataTables.min.css">

{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div id="app" class="col mt-3">

                <div class="d-flex justify-content-center">
                    {% include 'includes/_alert.html' %}
                </div>

                <div class="container d-flex justify-content-center">
                    <!-- <button type="button" data-toggle="modal" data-target="#incomeCategoryModal" class="btn btn-md btn-warning mr-4">Manage Inc. Category</button> -->

                    <button type="button" data-toggle="modal" data-target="#incomeModal" class="btn btn-md btn-primary">Manage Income</button>

                    <!-- manage category -->
                    <div id="incomeCategoryModal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">ADD INCOME CATEGORY</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                               
                                <form action="/income/category" method="POST" autocomplete="off">
                                                
                                    
                                    <div class="form-group">
                                        <label for="title">Income Category</label>
                                        <input name="category" type="text" placeholder="bootcamp fee" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" name="company_id" value="{{ company_id }}">
                                    </div>
                                        
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                    

                                </form>

                            </div>
                            
                            </div>
                        </div>
                    </div>


                    <!-- manage ecpenditure -->
                    <div id="incomeModal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Manage Income</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Add New Income</a>
                                        </div>
                                    </nav>

                                    <br>

                                    <div>
                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    
                                                
                                            </div>


                                            <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    
                                                <form action="/income" method="POST" autocomplete="off">
                                                    
                                                    <div>
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect1">Select income category</label>
                                                            <select name="category" class="form-control" required>
                                                                
                                                                <option></option>
                                                                {% for category in categories %}
                                                                <option value="{{ category }}">{{ category }}</option>
                                                                {%endfor%}

                                                            </select>
                
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="title">Income title</label>
                                                            <input name="incometitle"  type="text" placeholder="Income title" class="form-control" required>
                                                            
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="amount">Amount</label>
                                                            <input name="amount" type="text" placeholder="KES" class="form-control" required>
                                                            
                                                        </div>
                                                        <div class="form">
                                                            <input type="hidden" name="company_id" value="{{ company_id }}" >
                                                        </div>
            
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-success">Submit</button>
                                                        </div>
                                                    </div>

                                                </form>
    
                                            </div>      
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            
                <div class=" mt-3">
                    <table id="example" class="table table-striped display nowrap">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Category</th>
                                <th scope="col">Title</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Date</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for income in incomes %}
                            <tr>
                                <th scope="row">{{ income.id }}</th>
                                <td>{{ income.category }}</td>
                                <td>{{ income.title }}</td>
                                <td>{{ income.amount }}</td>
                                <td>{{ income.created_on }}</td>
                                
                            </tr> 
                             {% endfor %}                   
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock %}



{% block scripts %}

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>

    <script type="text/javascript">
            $(document).ready(function() {
                $('#example').DataTable( {
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                } );
            } );
    </script>

    

{% endblock %}