{% extends 'base2.html' %}

{% block title %}BizWeb{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mt-5">
            <div class="container">
                <div class="card">
                    <div class="card-body d-flex justify-content-center">
                        <a class="btn btn-lg btn-danger" href="/expenditure">EXPENDITURE</a>
                    </div>
                </div>
                <div class="card mt-3">
                    <canvas id="bar-chart" width="800" height="450"></canvas>
                </div>
            </div>

        </div>

        <div class="col-md-6 mt-5">
            <div class="container">
                <div class="card">
                    <div class="card-body d-flex justify-content-center">
                        <a class="btn btn-lg btn-info" href="/income">INCOME</a>
                    </div>
                </div>
                <div class="card mt-3">
                    <canvas id="bar-chart-2" width="800" height="450"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">


    // Bar chart
    new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
        labels:{{ months |safe }} ,
        datasets: [
            {
            label: "Amount (Ksh)",
            backgroundColor: "#c45850",
            data: {{ amounts |safe }}
            }
        ]
        },
        options: {
        legend: { display: false },
        title: {
            display: true,
            text: 'Expenditure'
        },scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
        }
    });

</script>

<script type="text/javascript">

    // Bar chart
    new Chart(document.getElementById("bar-chart-2"), {
        type: 'bar',
        data: {
        labels: {{ income_dates |safe }},
        datasets: [
            {
            label: "Amount (ksh)",
            backgroundColor: "#3e95cd",
            data: {{ income_amounts|safe }}
            }
        ]
        },
        options: {
        legend: { display: false },
        title: {
            display: true,
            text: 'Income'
        },scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
        }
    });

</script>

{% endblock %}