{% extends 'base.html' %}

<!-- title -->
{% block title %}BizWeb{% endblock %}

<!-- links -->
{% block links %}

<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->

<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css"> -->


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.min.css">


<style>
    input[type=text]:focus {
        outline: none;
        box-shadow: none;
        border-color: powderblue;
        border-radius: 14px;
        
    }
</style>

{% endblock %}

<!-- breadcrumbs -->
{% block breadcrumbs %}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Manage Order ID: {{ order_id }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
{% include 'includes/_alert.html' %}

{% endblock %}

<!-- content -->
{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header d-flex justify-content-center">
                <h4>Order Details</h4>
            </div>
            <div class="card-body text-monospace">
                <div class="default-tab">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Order ID: {{ order_id }}</li>
                        <li class="list-group-item">Customer Name: {{ cname.full_name }}</li>
                        <li class="list-group-item">Phone Number: {{ cname.phone_number }}</li>
                        <li class="list-group-item">Description: {{ order.description }}</li>
                        <li class="list-group-item">
                            Delivery status <button data-target="#update" data-toggle="modal" class="btn btn-sm btn-success">update status</button>
                            {% if ds == 0 %}
                            <p class="text-danger text-sm">Not delivered</p>
                            {% elif ds == 1 %}
                            <p class="text-warning text-sm">In transit</p>
                            {% else %}
                            <p class="text-success text-sm">Delivered</p>
                            {% endif %}
                        </li>
                        <li class="list-group-item text-primary">Order Total:KES {{ total }}</li>
                        <li class="list-group-item text-success">Amount Paid:KES {{ paid }}</li>
                        <li class="list-group-item text-danger">Balance Amount:KES {{ total-paid }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- chenge the delivery status modal -->
    <div id="update" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Delivery Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    {% if ds == 0 %}
                        <form action="/order/{{ order_id }}/intrasit" method="POST">
                            <button type="submit" class="btn btn-sm btn-outline-warning mr-4">In Transit</button>
                        </form>
                        <br>
                        <form action="/order/{{ order_id }}/delivered" method="POST">
                            <button type="submit" disabled class="btn btn-sm btn-outline-success">Delivered</button>
                        </form>
                    {% elif ds == 1 %}
                        <form action="/order/{{ order_id }}/intrasit" method="POST">
                            <button type="submit" disabled class="btn btn-sm btn-outline-warning mr-4">In Transit</button>
                        </form>
                        <br>
                        <form action="/order/{{ order_id }}/delivered" method="POST">
                            <button type="submit" class="btn btn-sm btn-outline-success">Delivered</button>
                        </form>
                    {% elif ds == 2 %}
                    <p class="text-danger">The item has already been delivered</p>
                    <br>
                    <!-- <form action="/order/{{ order_id }}/intrasit" method="POST">
                        <button type="submit" disabled  class="btn btn-sm btn-outline-warning mr-4">In Transit</button>
                    </form>
                    <br>
                    <form action="/order/{{ order_id }}/delivered" method="POST">
                        <button type="submit" disabled class="btn btn-sm btn-outline-success">Delivered</button>
                    </form> -->
                    
                    {% else %}
                    <form action="/order/{{ order_id }}/delivered" method="POST">
                        <button type="submit" class="btn btn-sm btn-outline-success">Delivered</button>
                    </form>
                        
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>


    <!-- /# column -->
    <div class="col-lg-6" id="app">
        <div class="card"> <!---hapa -->
            <div class="card-header  d-flex justify-content-center">
                <h4>Order Item(s) </h4>
            </div>
            <div class="card-body text-monospace ">
                <div class="d-flex justify-content-center">
                    <a href="" class="btn btn-sm btn-success" data-toggle="modal" data-target="#orderItem">Add Order Item(s) / Expenses</a>
                </div>
                <br>

                <div id="orderItem" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Add Items For Order Id {{ order_id }}</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                    <div v-if="alert" class="alert alert-success" role="alert">
                                        Successfully added!
                                    </div>
                                    <form @submit.prevent="addOrderItem( {{ order_id }}, {{ cid }}  )" >
                                        <div class="form-group">
                                            <label for="fullname">Item Title</label>
                                            <select v-model="selectedItem"  class="form-control">
                                                <option v-for="(item, index) in items" :value="item" :key="index">[[ item.title ]]</option>
                                            </select>
                                        </div>
                        
                                        <div class="form-group">
                                            <label for="unit">Unit Cost</label>
                                            <input  type="text" :value="selectedItem.unit_cost" disabled class="form-control" required autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label for="cost">Quantity</label>
                                            <input v-model="quantity" type="text" class="form-control" required autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label for="cost">Subtotal</label>
                                            <input type="text" disabled :value="getSubTotal" class="form-control"  required autocomplete="off">
                                        </div>

                                        <div class="form-group">
                                            <input  :value="{{ order_id }}"  type="hidden">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-md btn-success">Submit</button>
                                        </div>
                                    </form>
                            </div>
                          </div>
                        </div>
                </div>

                <div class="custom-tab">
                    <table id="example" class="table">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>Title</th>
                                <th>Cost</th>
                                <th>Details</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                <tr v-for="(orderitem, index) in orderItems" :key="index">
                                    
                                    <td>[[ orderitem.title ]] </td>
                                    <td>[[ orderitem.sub_total ]]</td>
                                    <td>
                                        
                                        <button @click="loadDetails(index)" data-toggle="modal" data-target="#index" class="btn btn-sm btn-info">Details</button>
                                        
                                        <div id="index" class="modal" tabindex="-1" role="dialog">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Full Details For Item ID</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- <label for="">asa [[ x ]]</label> -->
                                                        <div class="form-group">
                                                            <label for="fullname">Item Title</label>
                                                            <input readonly type="text" class="form-control" :value="[[x.title]] " required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Unit Cost</label>
                                                            <input readonly type="text" class="form-control" :value="[[ x.unit_cost ]]" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Quantity</label>
                                                            <input readonly type="text" class="form-control" :value="[[ x.quantity  ]]" required>
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            <label for="cost">Sub Total</label>
                                                            <input readonly class="form-control" :value="[[ x.sub_total  ]]" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                            
                                        <!-- <button data-toggle="modal" data-target="#deleteItem" class="btn btn-sm btn-danger">Del</button> -->

                                        <div id="#deleteItem" class="modal" tabindex="-1" role="dialog">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title"></h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Are you sure you want to delete record?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form action="">
                                                            <button type="button" class="btn btn-primary">Yes</button>
                                                        </form>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </td>
                                </tr>
                            
                          
                        </tbody>
                    </table>
                    <br>
                    <!-- <div class="d-flex justify-content-center">
                        <form action="/invoice/{{ order_id }}/generate" method="POST">
                            <button type="submit" class="btn btn-sm btn-danger">View invoice</button>
                        </form>
                    </div> -->
                    {% if number != 0 %}

                    <div class="d-flex justify-content-center">
                        <!-- <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-sm btn-success">Send invoice</button> -->

                        <div id="exampleModal" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Send Invoice</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-danger">Provide email subject then click send invoice to confirm action!</p><br>
                                    <form action="/send/{{ order_id }}/invoice" method="POST">
                                        <div class="form-group">
                                            <label for="">Subject</label>
                                            <input type="text" name="subject" class="form-control" required>
                                        </div>
                                        <button type="submit" class="btn btn-sm btn-danger">Send invoice</button>
                                    </form>
                                  
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    {% else %}

                    <div class="d-flex justify-content-center">
                        
                        <!-- <button disabled type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-sm btn-success">Send invoice</button> -->

                        <div id="exampleModal" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Send Invoice</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-danger">Provide email subject then click send invoice to confirm action!</p><br>
                                    <form action="/send/{{ order_id }}/invoice" method="POST">
                                        <div class="form-group">
                                            <label for="">Subject</label>
                                            <input type="text" name="subject" class="form-control" required>
                                        </div>
                                        <button type="submit" class="btn btn-sm btn-danger">Send invoice</button>
                                    </form>
                                  
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>


                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    
    <!-- DELIVERY MODULE -->
    <div class="col-lg-6">
        <div class="card">
            
            <div class="card-header">
                <h4>DELIVERY</h4>
            </div>
            <div class="card-body text-monospace">
                
                    <div class="d-flex justify-content-center">
                        {% if delivery == None %}
                            <a href="" data-target="#deliveryModal" data-toggle="modal" class="btn btn-sm btn-success">Set Delivery</a>
                        {% endif %}

                        <div id="deliveryModal" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">DeliveryDetails for Order ID: {{ order_id }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/delivery/{{ order_id }}/order" method="POST">
                                                <div class="form-group">
                                                    <label for="title">Delivery Person</label>
                                                    <input type="text" name="person" class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="title">Delivery Fee</label>
                                                    <input type="text" name="fee" class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="title">Delivery Country</label>
                                                    <input type="text" name="country" class="form-control" required>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="title">Delivery city</label>
                                                    <input type="text" name="city" class="form-control" required>
                                                </div>

                                                <div class="form-group">
                                                    <label for="title">Delivery Street</label>
                                                    <input type="text" name="street" class="form-control" required>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <input type="hidden" name="order_id" value="{{ order_id  }}">
                                                </div>
                                                
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-md btn-success">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                
                <br>
                <div class="custom-tab">
                    <!-- <h5 class="text-monospace text-success">Delivery Info</h5> -->
                    <table id="example" class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Created at</th>
                                <th>Details</th>
                                <!-- <th>Rating</th>
                                <th>Next Contact</th> -->
                            </tr>
                        </thead>
                        <tbody class="text-monospace">
                            {% if delivery == None %}
                                
                                <div class="d-flex justify-content-center">
                                    <p class="text-monospace text-danger">No delivery details to display</p>
                                </div>

                            {% else %}
                                <tr>
                                    <td>{{ delivery.id }}</td>
                                    <td>{{ delivery.created_on.strftime("%d-%m-%Y, %H:%M:%S")  }}</td>
                                    <td><a data-toggle="modal" data-target="#details" class="btn btn-sm btn-info" href="">View Details</a></td>

                                    <div id="details" class="modal" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title"></h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              <div class="form-group">
                                                <label for="">Delivery Person</label>
                                                <input class="form-control" value="{{ delivery.delivery_person }}" readonly>
                                              </div>

                                              <div class="form-group">
                                                <label for="">Delivery Fee</label>
                                                <input class="form-control" value="{{ delivery.delivery_fee }}" readonly>
                                              </div>

                                              <div class="form-group">
                                                <label for="">Delivery Country</label>
                                                <input class="form-control" value="{{ delivery.delivery_country }}" readonly>
                                              </div>

                                              <div class="form-group">
                                                <label for="">Delivery City</label>
                                                <input class="form-control" value="{{ delivery.delivery_city }}" readonly>
                                              </div>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </tr> 
                            {% endif %}
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>


    <!-- /# column -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>CRM Information</h4>
            </div>
            <div class="card-body text-monospace">
                <div class="d-flex justify-content-center">
                    <a data-toggle="modal" data-target="#crm" href="" class="btn btn-sm btn-success">Add New Phone Call or Meeting</a>

                    <!-- crm modal -->
                    <div id="crm" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/order/{{ order_id }}/crm" method="POST">
                                        <div class="form-group">
                                            <label for="description">Description of Phone Call or Meeting</label>
                                            <textarea name="description" class="form-control" id="Textarea1" rows="4" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="rating">Rate Conversation</label>
                                            <select name="rating" class="form-control" required>
                                                <option></option>
                                                <option value="Hot">Hot</option>
                                                <option value="Medium">Medium</option>
                                                <option value="Cold">Cold</option>
                                            </select>
                                        </div>
                                        <div class="md-form">
                                            <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
                                            <label for="date-picker-example">Next Contact date...</label>
                                        </div>
                                        <!-- <div class="input-group date">
                                            <label>Next Contact Date</label>
                                            <input name="next_date" type="text" class=""n><span class="input-group-addon"><i class="fas fa-calendar-times"></i></span>
                                        </div> -->
                                        <div>

                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" name="order_id" value="{{ order_id  }}">
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" name="company_id" value="{{ cid  }}">
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" name="customer_name" value="{{ cname.full_name  }}">
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-md btn-success">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="custom-tab">
                    <h5 class="text-monospace text-success">Conversations history</h5>
                    <table id="example" class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="text-monospace">
                            {% for crm in crms %}
                                <tr>
                                    <td>{{ crm.id }}</td>
                                    <td>
                                        <button data-toggle="modal" data-target="#crm{{ crm.id }}" class="btn btn-sm btn-outline-info">view details</button>

                                        <div id="crm{{ crm.id }}" class="modal" tabindex="-1" role="dialog">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title">crm #{{crm.id}}</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  <div class="form-group">
                                                    <h4><u>Details</u></h4>
                                                    <p class="text-monospace">{{ crm.description }}</p>
                                                  </div>
                                                  <div class="form-group">
                                                    <h4><u>Rating</u></h4>
                                                    <p class="text-monospace">{{ crm.rating }}</p>
                                                  </div>
                                                  <div class="form-group">
                                                    <h4><u>Next Contact Date</u></h4>
                                                    <p class="text-monospace">{{ crm.start }}</p>
                                                  </div>


                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                  
                                                </div>
                                              </div>
                                            </div>
                                        </div>

                                    </td>
                                    <!-- status -->
                                    <!-- <td>
                                        {% if crm.status == 0 %}
                                        <p class="text-danger">Pending</p>
                                        {% endif %}
                                        {% if crm.status == 1 %}
                                        <p class="text-success">Resolved</p>
                                        {% endif %}

                                    </td> -->

                                    {% if crm.start != '' %}
                                    <td>
                                        <form action="/order/{{ order_id }}/crm/{{ crm.id }}/update" method="POST">
                                            {% if crm.status == 0 %}
                                            <button type="submit" class="btn btn-sm btn-info">Mark as Resolved</button>
                                            {% else %}
                                            <button disabled type="submit" class="btn btn-sm btn-info">Mark as Resolved</button>
                                            {% endif %}
                                        </form>
                                    </td>
                                    {% endif %}
                                    
                                    
                                </tr> 
                            {% endfor %}   
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-center">
                <h4 class="mr-3">Payment Information</h4>
                <button onclick="window.location.reload()" class="btn btn-sm btn-primary mr-3">Refresh information</button>
            </div>
            <div class="card-body">
                <div class="default-tab">
                    <div class="d-flex justify-content-center">
                        {% if number == 0 %}
                            <p class="text-danger text-monospace">This feature has been disabled! There are no items in the order!</p>
                        {% else %}
                        <a  data-toggle="modal" data-target="#paymentModal" class="btn btn-sm btn-success" href="">Add Payment</a>
                        {% endif %}
                        <div id="paymentModal" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/order/{{ order_id }}/payment" method="POST">
                                            <div class="form-group">
                                                <label for="mode">Payment Mode</label>
                                                <select name="mode" class="form-control" required>
                                                    <option></option>
                                                    <option value="cheque">Cheque</option>
                                                    <option value="bank deposit">Bank deposit</option>
                                                    <option value="bank transfer">Bank transfer</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="ref">Reference Number</label>
                                                <input type="text" name="refno" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="amount">Amount</label>
                                                <input type="text" name="amount" class="form-control" required>
                                            </div>
                                            <div class="form-group">    
                                                <input type="hidden" value="{{ order_id }}" name="order_id" class="form-control" required>
                                            </div>
                                            <div class="form-group">    
                                                <input type="hidden" value="{{ cid }}" name="cid" class="form-control" required>
                                            </div>
                                            <div class=" form-group">
                                                <button type="submit" class="btn btn-md btn-success">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <table id="example" class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Payment Method</th>
                                <th>Reference Number</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody class="text-monospace">
                            {% for payment in payments %}
                                <tr>
                                    <td>{{ payment.id }}</td>
                                    <td>{{ payment.mode }}</td>
                                    <td>{{ payment.reference_number }}</td>
                                    <td>{{ payment.amount }}</td>
                                    <td>{{ payment.created_on }}</td>
                                    <!-- <td><a class="btn btn-sm btn-outline-danger" href="">full details</a></td> -->
                                </tr> 
                            {% endfor %}   
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>   

{% endblock %}

<!-- scripts -->
{% block scripts %}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<!-- <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script> -->

<!-- <script type='text/javascript'>
$(function(){
$('.input-group.date').datepicker({
    calendarWeeks: true,
    todayHighlight: true,
    autoclose: true
});  
});
</script> -->
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/js/bootstrap-material-datetimepicker.min.js"></script>

<script type='text/javascript'>
    // Data Picker Initialization
    $('.datepicker').pickadate();   
</script>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<script>
    new Vue({
        el:'#app',
        data(){
            return{
                alert:false,
                items: [],
                selectedItem:'',
                cost:0,
                quantity:'',
                subtotal:0,
                orderItems:[],
                order_id:'',
                x:100
            }
        },
        delimiters: ['[[',']]'],
        mounted(){
            axios.get('/items/json')
                .then(response=>{
                    this.items = response.data
                })
                .catch(error=>console.log(error))

            axios.get(`/orderitems/${ {{ order_id }} }/details`)
                .then(response=>{
                    this.orderItems = response.data
                })
                .catch(error=>console.log(error))
        },
        computed:{
            getSubTotal(){
                this.subtotal = this.selectedItem.unit_cost * this.quantity
                return this.subtotal
            },
            updateOrderDetails(){
                

                axios.get(`/orderitems/${ {{ order_id }} }/details`)
                .then(response=>{
                    this.orderItems = response.data
                })
                .catch(error=>console.log(error))

                this.orderItems = ls
            }
        },
        methods:{
            addOrderItem(order_id,company_id){
                
                let payload = {
                    item_id:this.selectedItem.id,
                    order_id:order_id,
                    company_id:company_id,
                    quantity:this.quantity,
                    subtotal:this.subtotal
                }

                axios.post('/items/json',payload)
                    .then(response=>{
                        //enable the alert
                        this.alert = true
                        //reset the inputs
                        this.selectedItem = ''
                        this.cost = 0
                        this.quantity = ''
                        this.subtotal = 0
                        //update the array
                        this.updateOrderDetails
                        window.location.reload()
                    })
                    .catch(error=>console.log(error))

                setTimeout(()=>{
                    this.alert =false 
                },4000)
            },
            loadDetails(e){

                this.x = this.orderItems[e]
         
            },

            test(){
                window.location.reload()
            }
        }
    })
</script>






{% endblock %}