<!doctype html>

<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BizWeb</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    
</head>
<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                
                <div class="login-form">
                    <form action="/registration" method="POST" autocomplete="off">
                        <div class="form-group">
                            {% include 'includes/_alert.html' %}
                        </div>
                        <div class="form-group">
                            <label>Company Name</label>
                            <input name="cname" required type="text" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Name of Contact Person</label>
                            <input name="fname" required type="text" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Company Email</label>
                            <input name="cemail" required type="email" class="form-control" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="">Company Category</label>
                            <select name="comcategory" class="form-control" required>
                                <option></option>
                                {% for each in cat %}
                                    <option value="{{ each }}">{{ each }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label>Password</label>
                            <input name="pass" required type="password" class="form-control" placeholder="">
                        </div>

                        <div class="form-group">
                            <label>Confrim Password</label>
                            <input name="cpass" required type="password" class="form-control" placeholder="">
                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Register</button>

                    </form>

                    <form action="/login" method="GET">
                        <button class="btn btn-success mt-4" type="submit">LOGIN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <!-- <script src="/static/assets/js/main.js"></script> -->

</body>
</html>
