{% extends 'base.html' %}

{% block title %}BizWeb{% endblock %}

{% block links %}


{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-center">
                <h4 class="text-monospace">MANAGE USERS</h4>
            </div>
            <div class="card-body" style="background:rgb(248, 246, 246);">
                
                {% include 'includes/_alert.html' %}
                <table id="example" class="table table-striped display nowrap">
                    <thead>
                        <tr>
                            <th scope="col">USERNAME</th>
                            <th scope="col">EMAIL ADDRESS</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">SUSPEND</th>
                            <th scope="col">ACTIVATE</th>
                            <th scope="col">ROLES</th>
                            <th scope="col">EDIT</th>
                            <!-- <th scope="col">DELETE</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                
                                <td>{{ user.full_name  }}</td>
                                <td>{{ user.email }}</td>
                                
                                {% if user.status == 0 or user.status == 1 %}
                                <td class="text-success">Active</td>
                                {% elif user.status == 2 %}
                                <td class="text-danger"><del>Suspended</del></td>
                                {% endif %}
                                <td>
                                    <form action="/suspend/{{ user.id }}/user" method="POST">
                                        {% if user.status == 0 or user.status == 1 %}
                                        <button type="submit" class="btn btn-sm btn-outline-danger">Suspend User</button>
                                        {% else %}
                                        <button disabled type="submit" class="btn btn-sm btn-outline-danger">Suspend User</button>
                                        {% endif %}
                                    </form>
                                </td>
                                <td>
                                    <form action="/reactivate/{{ user.id }}/user" method="POST">
                                        {% if user.status == 0 or user.status == 1 %}
                                        <button disabled type="submit" class="btn btn-sm btn-outline-success">Activate User</button>
                                        {% else %}
                                        <button type="submit" class="btn btn-sm btn-outline-success">Activate User</button>
                                        {% endif %}
                                    </form>
                                </td>
                                <td><a class="btn btn-sm btn-outline-info" href="/assign/{{ user.id }}/role">View Roles</a></td>
                                
                                <td>
                                    <button data-toggle="modal" data-target="#editUser{{ user.id }}" class="btn btn-md btn-outline-primary"><i class="fa fa-edit"></i></button>

                                    <div id="editUser{{ user.id }}" class="modal" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title">Edit {{ user.full_name }} records</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/edit/{{ user.id }}/user" method="POST">
                                                    
                                                    <div class="form-group">
                                                        <label for="">Full Name</label>
                                                        <input autocomplete="off" value="{{ user.full_name }}" name="fname" type="text" placeholder="" class="form-control" required>
                                                    </div>
                
                                                    <div class="form-group">
                                                        <label for="">Email Address</label>
                                                        <input autocomplete="off" value="{{ user.email }}"  name="email" type="text" placeholder="" class="form-control" required>
                                                    </div>
                
                                                    
                                                    <div class="form-group">
                                                        <input type="hidden" name="company_id" value="{{ company_id }}">
                                                    </div>
                                                   
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-success">Submit</button>
                                                    </div>
                                                
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>
                                        </div>
                                    </div>

                                </td>
                                <!-- <td>
                                    <button class="btn btn-md btn-danger"><i class="fa fa-trash"></i></button>
                                </td> -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        } );
    } );
</script>

{% endblock %}

