{% extends 'base.html' %}

{% block title %}BizWeb{% endblock %}

{% block links %}{% endblock %}


<!-- breadcrumbs -->
{% block breadcrumbs %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card" >
            <div class="card-header">
                
            </div>
            <div class="card-body" style="background: rgba(243, 239, 239, 0.267);">
                
                <div class="d-flex justify-content-center">
                    <button data-toggle="modal" data-target="#exampleModal" class="btn btn-sm btn-success">Assign role</button>
                    <div id="exampleModal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title"></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="POST">
                                    
                                    <div class="form-group">
                                        <label for="">Select a role to assign user</label>
                                        <select class="form-control" name="role" required>
                                            <option></option>
                                            {% for role in roles %}
                                            <option value="{{ role.id }}">{{ role.name }}</option>
                                            {% endfor %}
                                            
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                
                                </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <hr>
                {% include 'includes/_alert.html' %}
                
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <div style="width: 50%; border:1px solid rgb(241, 213, 213); padding:12px;">
                            <table id="example" class="table table-striped display nowrap">
                                <thead>
                                    <tr>
                                        <th>Role title</th>
                                        <th>Delete</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rol in uroles %}
                                    <tr>
                                        <td>{{ rol.name }}</td>
                                        <td>
                                            <form action="/user/{{ user_id }}/delete/{{ rol.id }}" method="POST">
                                                <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}

